<app-header></app-header>

<div *ngIf="gameInProgress; else endGame">
    <app-panel (closeGame)="closeGame($event)"></app-panel>
</div>

<ng-template #endGame>
    <div *ngIf="endType === 'lose'; else endGameVictory" class="container mt-5 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <h3 style="color: red;">Fim de jogo, você perdeu! :(</h3>
                <button class="btn btn-primary mt-2" (click)="restartGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #endGameVictory>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <h3 style="color: green;">Fim de jogo, você ganhou! :)</h3>
                <button class="btn btn-primary mt-2" (click)="restartGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>